@page
@model IndexModel
@{
    ViewData["Title"] = "Welcome";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="CSS/normalize.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

    <!-- Header 樣式 -->
    <header class="header">
        <a href="">
           <h1 class="h1 brand-color-main">TO DO LIST</h1>
        </a>
    </header>

    <!-- Main 樣式 -->
    <section class="section">
        <div class="main flex-center">
            <div class="form-container flex-column">
                <form class="flex-column" action="">
                    <h2 class="h2 brand-color-drak">歡迎使用 To-Do List！</h2>
                    <input-container class="input-container flex-column">
                        <div class="flex-column">
                            <label class="paragraph2" for="loginEmail">常用信箱</label>
                            <input class="input gray-02 paragraph1" type="email" name="email" id="loginEmail"
                pattern="[a-z0-9._%+-]+@@[a-z0-9.-]+\.[a-z]{2,4}$" placeholder="輸入 Email"
                oninput="setCustomValidity('');" oninvalid="setCustomValidity('請輸入正確的 Email 位址')" required>
                        </div>
                        <div class="flex-column">
                            <label class="paragraph2" for="loginPassword">密碼</label>
                            <input class="input gray-02 paragraph1" type="password" name="password" id="loginPassword" placeholder="輸入密碼"
                required>
                        </div>
                    </input-container>
                    <div class="btn-container">
                        <button class="button-lg button-primary" onClick="onClickLoginOrRegister()">註冊 / 登入</button>
                    </div>
                </form>
            </div>
        </div>
    </section>

</body>

</html>

