@page
@model LoginModel
@{
  ViewData["Title"] = "Login";
  Layout = "_LayoutSinglePage";
}
@section Styles {
  <link rel="stylesheet" href="~/dist/css/login.css" asp-append-version="true" />
}
@section Scripts {
  <script type="module" src="~/dist/js/login.js" asp-append-version="true"></script>
}

<div>
  {{ textMsg }}
  <div class="p-4 bg-base-100 rounded-md drop-shadow-md">
    <div v-if="tab == 0">
      <h1 class="text-3xl font-bold text-primary mb-1">登入</h1>
      <p class="text-base text-primary-content mb-2">歡迎回來 🏠</p>
    </div>
    <div v-if="tab == 1">
      <h1 class="text-3xl font-bold text-primary mb-1">註冊</h1>
      <p class="text-base text-primary-content mb-2">很高興認識您 👋</p>
    </div>
    <div role="tablist" class="tabs tabs-bordered mb-2">
      <a role="tab" class="tab" :class="{ 'tab-active': tab == 0 }" @@click="tab = 0">登入</a>
      <a role="tab" class="tab" :class="{ 'tab-active': tab == 1 }" @@click="tab = 1">註冊</a>
    </div>
    <!-- 登入 -->
    <div class="flex flex-col gap-3" v-if="tab == 0">
      <label class="form-control w-full">
        <div class="label">
          <span class="label-text">帳號</span>
        </div>
        <input type="text" placeholder="請輸入 E-mail" class="input input-bordered w-full" />
      </label>
      <label class="form-control w-full">
        <div class="label">
          <span class="label-text">密碼</span>
        </div>
        <input type="text" placeholder="請輸入密碼" class="input input-bordered w-full" />
        <div class="label">
          <button class="btn btn-active btn-sm btn-link px-0 ms-auto">忘記密碼？</button>
        </div>
      </label>
      <button class="btn btn-primary btn-wide mx-auto mt-2">登入</button>
    </div>
    <!-- 註冊 -->
    <div class="flex flex-col gap-3" v-if="tab == 1">
      <label class="form-control w-full">
        <div class="label">
          <span class="label-text">使用者名稱</span>
        </div>
        <input type="text" placeholder="請輸入您的姓名或暱稱" class="input input-bordered w-full" />
      </label>
      <label class="form-control w-full">
        <div class="label">
          <span class="label-text">帳號</span>
        </div>
        <input type="text" placeholder="請輸入 E-mail" class="input input-bordered w-full" />
      </label>
      <label class="form-control w-full">
        <div class="label">
          <span class="label-text">密碼</span>
        </div>
        <input type="text" placeholder="請輸入密碼" class="input input-bordered w-full" />
      </label>
      <label class="form-control w-full">
        <div class="label">
          <span class="label-text">確認密碼</span>
        </div>
        <input type="text" placeholder="請再次輸入密碼" class="input input-bordered w-full" />
      </label>
      <button class="btn btn-primary btn-wide mx-auto mt-2">註冊</button>
    </div>
  </div>
</div>
