//Default variables override
$body-bg: #FAFAFA;

$white: #fff;
$gray-100: #FAFAFA;
$gray-200: #C7C7C7;
$gray-300: #A0A0A0;
$gray-400: #676767;
$gray-500: #2A2A2A;
$black: #000;

$primary: #3397CF;
$secondary: #00324E;
$light: #EDF1F5;

$h1-font-size: 42px; 
$h2-font-size: 32px;


@import "~bootstrap/scss/bootstrap";



html, body {
    position: relative;
    width: 100%;
    height: 100%;
    font-size: 100%;
    font-family: 'El Messiri', 'Noto Sans TC', sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
}

.scroll {
    overflow-y: hidden;
}

/* Loading Overlay*/

.loading {
    position: fixed;
    z-index: 9999;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.loading .mask {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #444;
    opacity: 0.5;
    overflow: hidden;
}

.loading .animation {
    width: 64px;
    height: 64px;
    margin: auto;
    margin-top: 40px;
    background: url('https://i.imgur.com/6pCtQAW.gif');
}


.section {
    padding: 0px 312px;
}

/* Header */
.header {
    box-sizing: border-box;
    width: 100%;
    padding: 12px 312px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
}

.header a {
    text-decoration: none;
}

.header-button {
    display: flex;
    gap: 16px;
}


/* Main */
.main {
    width: 100%;
}

/* 登陸頁 */
.form-container {
    width: 100%;
    border-radius: 16px;
    box-shadow: 1px 1px 25px 0px rgba(42, 42, 42, 0.12);
    margin-bottom: 60px;
}

    .form-container form {
        margin: 64px 48px;
        gap: 48px;
    }

.input-container {
    gap: 24px;
}

    .input-container div {
        gap: 8px;
    }

.btn-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

/* TO-DO 頁 */

.list-container {
    width: 100%;
    margin-top: 48px;
    margin-bottom: 16px;
    padding: 64px 48px;
    box-shadow: 1px 1px 8px 0px rgba(42, 42, 42, 0.08);
    box-sizing: border-box;
}

.add-container {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 4px;
    white-space: nowrap;
}

.add-input {
    width: 100%;
    border-radius: 8px;
    padding: 24px 12px;
}

.list {
    margin-top: 60px;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.icon-color {
    color: $gray-200;
}

.task-content {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 12px;
}

.task {
    padding: 24px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.icon {
    padding: 6px 8px;
    border-radius: 4px;
}

    .icon:hover {
        /* todo: icon的hover效果改成variables */
        background-color: #FFE4E4;
    }

        .icon:hover .fa-trash {
            color: #F14040;
        }

.tag {
    display: block;
    box-sizing: border-box;
    min-width: 88px;
    padding: 4px 8px;
    background-color: #EDF1F5;
    font-size: 14px;
    text-align: center;
}

/* Pagination 樣式 */
.pagenumbers {
    width: 100%;
    margin-bottom: 36px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

    .pagenumbers li {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        padding: 12px 16px;
        appearance: none;
        border-radius: 2px;
        outline: none;
        background-color: transparent;
        margin: 1px;
        transition: 0.1s;
        font-size: 16px;
        cursor: pointer;
    }

.pagenumbers li:hover,
.pagenumbers li.active {
    background-color: #A1C2F1;
    color: #FAFAFA;
}

/* checkbox 樣式 */

.checkbox:checked + span {
    text-decoration: line-through;
    color: #A0A0A0;
}

/* Setting 頁 */
#image-input {
    display: none;
}

.avatar-container, .avatar-form {
    gap: 48px;
}

.avatar-button {
   gap: 12px;
}


.avatar {
    display: block;
    width: 150px;
    height: 150px;
    background-color: #D8D8D8;
    border-radius: 100%;
}

/* input 樣式 */
.input {
    padding: 16px 12px;
    border-radius: 8px;
}

    .input:focus {
        outline: none;
        border: 1px solid #676767;
    }


/* 文字設定 */
.heading1 {
    font-family: 'El Messiri';
    margin: 0;
}

.heading2 {
    font-family: 'Noto Sans TC';
    font-weight: 700;
    line-height: 120%;
    margin: 0;
}

.heading6 {
    font-family: 'Noto Sans TC';
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
}

.paragraph1 {
    font-family: 'Noto Sans TC';
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}

.paragraph2 {
    font-family: 'Noto Sans TC';
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
}

/* 色彩樣式 */


/* 按鈕樣式 */
.button-lg {
    padding: 16px 180px;
    border-radius: 8px;
}

.button-mid {
    padding: 24px 36px;
    border-radius: 8px;
}

.button-sm {
    padding: 16px 24px;
    border-radius: 8px;
}


.button-outlined {
    background-color: transparent;
}

.button-icon {
    display: inline-block;
    margin-right: 4px;
    height: 18px;
    width: 18px;
}


.text-button {
    font-size: 12px;
}


/* 排版樣式 */
.flex-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-colum-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-align-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-mb {
    margin-bottom: 48px;
}

/* RWD　設定*/
@media(max-width: 920px) {
    .section {
        padding: 0 120px;
    }

    .header {
        padding: 12px 120px;
    }

    .button-lg {
        padding: 12px 120px;
    }
}

@media(max-width: 670px) {
    .section {
        padding: 0 64px;
    }

    .header {
        padding: 12px 64px;
    }

    .button-lg {
        padding: 12px 72px;
    }
}
