<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		autoReload="true"
		throwExceptions="false"
		internalLogLevel="Info"
		internalLogFile="./log/nlog">
	<extensions>
		<add assembly="NLog.Web.AspNetCore" />
	</extensions>
	<targets>
		<target xsi:type="Database"
          name="database"
          dbProvider="sqlserver"
		  connectionString=""
          keepConnection="true">
			<commandText>
			INSERT INTO dbo.Error
			(LogLevel, Date, ExceptionMessage, ExceptionStackTrace)
			VALUES
			(@levelParam, @dateParam, @messageParam, @callsiteParam)
			</commandText>
            <parameter name="@levelParam" layout="${level}"/>
            <parameter name="@dateParam" layout="${date}"/>
            <parameter name="@messageParam" layout="${exception}"/>
            <parameter name="@callsiteParam" layout="${callsite}"/>
        </target>
	</targets>
	<rules>
		<logger name="*" minlevel="Error" writeTo="database" />
	</rules>
</nlog>