<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"] - EveryDay Todo</title>
  <link rel="shortcut icon" href="~/dist/images/todo.ico">
  <link rel="bookmark" href="~/dist/images/todo.ico">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">
  @await RenderSectionAsync("Styles", required: false)
</head>

<body>

  <div id="app" v-cloak>
    @RenderBody()
  </div>

  @await RenderSectionAsync("Scripts", required: false)
</body>

</html>